@charset "utf-8";

@font-face {
   font-family: 'FlyBoy';
   src: url('FlyBoyBB.ttf') format('truetype');
   }

@font-face {
   font-family: 'Neue';
   src: url('BebasNeue-Regular.ttf') format('truetype');
   }

@font-face {
   font-family: 'FlyBoyBB';
   src: url('FlyBoyBB.ttf') format('truetype');
  
   }


/* Structural Styles */

html {
   background-image: url(../Pictures/picture1.png); 
}

body {
   background-color: rgb(156, 199, 220);
   opacity: 75%;
}
h2 {font-family: 'FlyBoyBB';
   font-size: 3.0em;
}

body > img {
   border: 8px double rgb(51, 51, 51);
}
li {font-family:'Neue';
}



/* Navigation Styles */




/* Section Styles */




/* Description List Styles */
