html {
	background-color: rgba(193, 180, 174, 1);
}
/*Color palletes 
$copper: rgba(190, 124, 77, 1);
$dark-red: rgba(146, 20, 12, 1);
$jet: rgba(53, 50, 56, 1);
$cedar-chest: rgba(190, 90, 56, 1);
$pale-silver: rgba(193, 180, 174, 1);
Baige: rgba(239, 239, 208, 1);
*/
 /* Page Body Styles */
 img {
	 width: 300px;
	 height: 300px;
 }
 body {
    background-color: rgba(190, 124, 77, 1);
    line-height: 1;
    font-family: Verdana, Tacoma, Helvetica;
    font-size: 16pt;
    color: black;
    width: 85%;
    margin: auto;
 }
 body {
    font-family: Verdana, Tacoma, Helvetica;
    font-size: 16pt;
    color: black;
    width: 85%;
    margin: auto;
    background-color: rgba(53, 50, 56, 1);
}
header h1{
    font-size: 36pt;
    margin: 35px 0px 0px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
    padding-right: 0px;
    background-color: rgba(146, 20, 12, 1);
    color: white;   
}
header h3{
    font-size: 24pt;
    margin: 0px;
    padding-top: 0px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    background-color: rgba(146, 20, 12, 1);
    color: white;   
}

header .articlehead{
    font-family: arial;
    text-align: left;
    letter-spacing: 2px;
    margin: 0px;
    font-size: 24pt;
    text-align: center;
    padding: 15px 0px 10px 15px;
    background-color: #000000;
}

h3{
    font-family: arial;
    font-size: 16pt;
    text-align: left;
}

p{
    margin: 15px;
    padding: 15px;
}

header nav#mainLinks{
    width: 20%;
    height: 1240px;
    float: left;
    position: relative;
    background-color: rgba(190, 124, 77, 1);
    list-style: none;
    list-style-image: none;
}


nav#mainLinks ul li {
    /* float: left; */	
    list-style: none;   
}
nav#mainLinks ul li a {
    color: white;	
    height: 2.5em;	
    line-height: 2.5em;	
    text-decoration: none;
}
nav#mainLinks a:link, nav#mainLinks a:visited {
    color: white;
} 
nav#mainLinks a:hover, nav#mainLinks a:active {
    color: black;
} 
article{
    float: right;
    width: 80%;
    background-color: rgba(239, 239, 208, 1);
}

/* Navigation List Styles */

section table{
    width: 100%;
}

section table tr th{
    text-align: center;
    background-color:rgba(146, 20, 12, 1);
    color: white;
}

section table tr td{
    font-size: 16px;
}

/* Footer Styles */
footer {
	background-color: rgba(146, 20, 12, 1);
	color: white;	
    padding: 106px;
    text-align: center;
    margin-top: 50px;

}
footer header  h3{
    text-align: center;
}